<p><h1>Вітаю, <%= @current_user.name%> </h1></p>
<pre> Notes:</pre>
<ul>
	<li>none yet</li>
</ul> 
<pre>Ваші права у системі Depodoc:</pre>

<ul>
	<% @current_user.roles.active.each do |role|%>
		<%= tag.li role.name %>
	<% end	%>

</ul>

