<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>

  <body>


    <nav class="navbar navbar-expand-md navbar-light">
	      <!-- http://v4-alpha.getbootstrap.com/components/navbar/#how-it-works  -->

	    <%= fa_link_to('-file-contract', sessions_path, class: 'navbar-brand') {'Depodoc - Депозитарні документи'} %>


        
        
      <div id="user-zone">
        <!-- %= render 'users/user_zone' %-- >  
      </div>
        
      </div><!-- /.navbar-collapse -->

      

	    
	  </nav>


	  
		<% flash.each do |name, msg| %>
			<%= content_tag :pre, msg, id: "flash#{name}", class: "notice" %>
		<% end %>  

    
    <%= yield %>


  </body>
</html>
